doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(type='text/plain' rel='author' href='/humans.txt')
    block css
      link(type='text/css' rel='stylesheet', href='/css/screen.css' media='screen')
      link(type='text/css' rel='stylesheet', href='/css/mobile.css' media='screen and (max-width: 767px)')
    block js
      script(src='http://localhost:35729/livereload.js')
  body
    main
      block content
