body { 
  background: url(/img/white-background.png) 
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
}
a { color: #00B7FF; }
aside { position: fixed; width: 55%; top: 82%; left: 54%; }
aside img  { width: 80% }
